$primary-color: #9428a5 !default;        // purple button colour
$primary-hover: #e600ff !default;        // bright hover purple

$background-color: #000000 !default;     // page background
$text-color: #ffffff !default;           // main text

$section-bg: #404040 !default;           // section boxes
$section-text: #ffffff !default;

$navbar-bg: #71457d !default;            // navbar purple
$navbar-text: #ffffff !default;

$link-hover: #e600ff !default;

$card-bg: #F9D9FC !default;              // card background
$card-hover-bg: #F06DFE !default;
